@import url("https://fonts.googleapis.com/css2?family=Monoton&family=Quicksand:wght@300..700&display=swap");

:root {
  --color-white: #fbfbf9;
  --color-neutral: #d2c4c4;
  --color-neutral2: #f9dbc2;
  --color-primary: #8a737d;
  --color-black: #33312e;
  --color-accent: #9f9a7f;
}

body {
  margin: 0;
  overflow: hidden;
  font-family: "Quicksand", serif;
  background-color: var(--color-white);
}

#root {
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

button {
  all: unset;
}

header {
  height: 130px;
}

main {
  height: calc(100vh - 160px);
  overflow-y: auto;

  &::-webkit-scrollbar {
    width: 8px;
  }

  &::-webkit-scrollbar-track {
    margin: 1px 0;
  }

  &::-webkit-scrollbar-thumb {
    background-image: -webkit-gradient(
      linear,
      left bottom,
      left top,
      color-stop(0.5, var(--color-neutral2)),
      color-stop(1, var(--color-neutral))
    );
    border-radius: 5px;
    box-shadow: inset 0px 0px 3px var(--color-accent);
  }
}
