@import url("https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playwrite+PL:wght@100..400&display=swap");

:root {
  --col0: rgb(255, 255, 255);
  --col1: #fff8ea;
  --col2: rgb(255, 194, 177);
  --col3: rgb(255, 190, 81);
  --col4: rgb(253, 138, 125);
  --col5: #ad9462;

  --font: "Urbanist", sans-serif;
  --fontHeader: "Playwrite PL", cursive;
}

html,
body {
  margin: 0;
  width: 100%;
  height: 100vh;

  background-color: var(--col0);
}

h2,
h3,
p,
h4,
a,
h6 {
  margin: 0;
}

h2,
h3,
h5,
h6 {
  font-family: var(--fontHeader);
}

p,
button,
a,
h1,
h4 {
  font-family: var(--font);
}

h2 {
  font-weight: 500;
}

h3 {
  font-weight: 400;
  font-size: 1.5em;
}

h4 {
  font-size: 1.3em;
}

h6 {
  font-weight: 200;
  font-size: 0.9em;
}

body {
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-template-rows: 1fr 4fr;
}

aside {
  position: relative;
  z-index: 1;
  background-color: var(--col3);

  grid-area: 1 / 1 / 3 / 2;

  svg {
    height: 20px;
    width: 20px;
    margin-left: 15px;
  }

  button {
    all: unset;
    cursor: pointer;
    font-weight: 500;
  }

  button:hover {
    font-weight: 700;
  }

  & > div {
    height: 60%;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1.2fr repeat(11, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;

    div {
      display: flex;
      align-items: center;
    }

    .aside1 {
      grid-area: 1 / 1 / 2 / 2;
      svg {
        height: 30px;
        width: 30px;
        margin: 10px;
      }
    }
    .aside2 {
      grid-area: 1 / 2 / 2 / 3;
    }
    .aside3 {
      grid-area: 3 / 1 / 4 / 2;
    }
    .aside4 {
      grid-area: 3 / 2 / 4 / 3;
    }
    .aside5 {
      grid-area: 4 / 1 / 5 / 2;
    }
    .aside6 {
      grid-area: 4 / 2 / 5 / 3;
    }
    .aside7 {
      grid-area: 5 / 1 / 6 / 2;
    }
    .aside8 {
      grid-area: 5 / 2 / 6 / 3;
    }
    .aside9 {
      grid-area: 6 / 1 / 7 / 2;
    }
    .aside10 {
      grid-area: 6 / 2 / 7 / 3;
    }
    .aside11 {
      grid-area: 7 / 1 / 8 / 2;
    }
    .aside12 {
      grid-area: 7 / 2 / 8 / 3;
    }
    .aside13 {
      grid-area: 8 / 1 / 9 / 2;
    }
    .aside14 {
      grid-area: 8 / 2 / 9 / 3;
    }
    .aside15 {
      grid-area: 10 / 1 / 11 / 2;
    }
    .aside16 {
      grid-area: 10 / 2 / 11 / 3;
    }
    .aside17 {
      grid-area: 11 / 1 / 12 / 2;
    }
    .aside18 {
      grid-area: 11 / 2 / 12 / 3;
    }
    .aside19 {
      grid-area: 12 / 1 / 13 / 2;
    }
    .aside20 {
      grid-area: 12 / 2 / 13 / 3;
    }
  }
}

header {
  background-color: var(--col1);
  box-shadow: 0px 0px 8px 1px var(--col5);
  grid-area: 1 / 2 / 2 / 3;

  & > div {
    margin: 20px 80px 20px 20px;
  }

  & > div:first-child {
    display: grid;
    grid-template-columns: 3fr 2fr;
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;

    * {
      place-self: center;
    }

    svg {
      width: 25px;
      height: 25px;
    }

    & > div {
      width: 100%;
      height: 100%;
    }

    & > div:first-child {
      display: flex;
      align-items: center;

      input {
        margin-left: 20px;
        width: 60%;
        height: 50%;
        background-color: var(--col4);

        border-radius: 30px;
        border: none;
      }
    }

    & > div:last-child {
      width: 100%;

      display: flex;
      align-items: center;
      justify-content: end;

      img {
        margin: 0 20px;
        height: 40px;
        width: 40px;
        border-radius: 50%;
      }
    }
  }

  & > div:last-child {
    display: grid;
    grid-template-columns: 1fr 8fr repeat(3, 2fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;

    img {
      height: 50px;
      width: 50px;
      border-radius: 50%;
    }

    a {
      all: unset;
      font-weight: 300;
      font-family: var(--fontHeader);
      margin: 0;
      cursor: pointer;
    }

    button {
      width: 70%;
      height: 70%;
      place-self: center end;
      border-radius: 50px;
      border: none;
      cursor: pointer;
      font-weight: 600;
      background-color: var(--col3);
    }

    button:hover {
      font-weight: 800;
    }
  }
}

main {
  margin: 10px 50px 30px 20px;

  grid-area: 2 / 2 / 3 / 3;

  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 1fr 4fr 1fr 4fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;

  .main1 {
    grid-area: 1 / 1 / 2 / 2;
  }
  .main2 {
    grid-area: 2 / 1 / 5 / 2;
  }
  .main3 {
    grid-area: 1 / 2 / 2 / 3;
  }
  .main4 {
    grid-area: 2 / 2 / 3 / 3;
  }
  .main5 {
    grid-area: 3 / 2 / 4 / 3;
  }
  .main6 {
    grid-area: 4 / 2 / 5 / 3;
  }

  .square {
    background-color: var(--col2);

    border-radius: 5px;
    box-shadow: 2px 2px 5px 0px var(--col5);
  }

  h3 {
    place-self: end start;
    margin-bottom: 5px;
  }

  .projects {
    margin-right: 20px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;

    .square {
      border-left: 6px solid var(--col4);
      padding: 10px 20px;
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 3fr 1fr;
      grid-column-gap: 0px;
      grid-row-gap: 0px;

      p {
        margin: 3px;
        text-align: justify;
        font-size: 1vw;
      }

      div:last-child {
        width: 100px;
        place-self: end;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr;
        grid-column-gap: 20px;

        button {
          place-self: end;
          height: 20px;
          width: 20px;
          all: unset;
          cursor: pointer;

          svg {
            height: 20px;
            width: 20px;
          }
        }
      }
    }
  }

  .announcements {
    padding: 10px 20px;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);

    div {
      height: 100%;
      place-self: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    h4 {
      font-size: 14px;
    }

    p {
      font-size: 10px;
    }

    & > div:nth-child(2) {
      border-bottom: 1px solid var(--col5);
      border-top: 1px solid var(--col5);
    }
  }

  .trending {
    padding: 10px 20px;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 5px;

    * {
      place-self: center start;
    }

    & > div {
      display: flex;
      justify-content: center;
    }

    img {
      height: 30px;
      width: 30px;
      border-radius: 50px;
      margin-right: 10px;
    }

    p {
      font-size: 8px;
    }
  }
}
