@font-face {
  font-family: Norse;
  src: url(Norse-Bold.otf);
}

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
}

h2,
h3,
label,
input,
a,
p,
button {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

body {
  background-color: black;
  & > div {
    max-width: 1000px;
    margin: 0 auto;
    height: 100%;
    display: flex;
  }

  aside {
    background-image: url("./img.avif");
    background: no-repeat center/cover url("./img.avif");
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    p,
    a,
    h1 {
      color: white;
      margin: 0;
    }

    & > div {
      margin-top: 30%;
      height: 100px;
      width: 100%;
      background-color: rgba(1, 1, 1, 0.5);
      display: flex;
      justify-content: center;
      align-items: center;

      img {
        height: 90%;
      }

      h1 {
        font-family: "Norse";
        font-size: 80px;
      }
    }

    & > span {
      margin-bottom: 10px;
      display: flex;
      width: 100%;
      justify-content: center;
      font-size: 12px;

      a:hover {
        color: #9dbe80;
      }
    }
  }

  section {
    background-color: white;
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: baseline;

    & > div:first-child {
      margin: 100px 50px 10px 30px;

      h2 {
        font-size: 15px;
      }
    }
    & > div:nth-child(2) {
      border-top: rgba(128, 128, 128, 0.1) 1px solid;

      h3 {
        margin-left: 30px;
      }

      form > div {
        width: 100%;
        display: flex;
        padding-left: 30px;
        padding-bottom: 20px;
        box-shadow: 0 5px 8px -5px rgba(115, 115, 115, 0.75);
      }

      fieldset {
        all: unset;
        width: 40%;
      }

      label {
        display: block;
        font-size: 9px;
        font-weight: bold;
        color: rgb(57, 57, 57);
      }

      input {
        width: 70%;
        all: unset;
        margin-bottom: 20px;
        border: 1px solid #e5e7eb;
        border-radius: 2px;
      }
      input:focus {
        border-color: cadetblue;
        box-shadow: 1px 1px 2px 0px cadetblue;
      }
      input:user-invalid {
        border-color: red;
      }

      button {
        color: white;
        margin-left: 30px;
        margin-top: 20px;
        background-color: #596d48;

        font-size: 15px;
        padding: 10px 30px;
        border: none;
        border-radius: 5px;
        box-shadow: 0 5px 8px -5px rgba(115, 115, 115, 0.75);
        cursor: pointer;
      }

      button:hover {
        background-color: #425135;
      }
      button::focus {
        transform: translateY(1px);
      }
    }

    & > div:last-child {
      display: flex;
      margin: 20px auto auto 30px;

      & > * {
        margin: 0 5px 0 0;
      }

      a {
        color: #596d48;
        font-weight: bold;
        cursor: pointer;
        text-decoration: none;
      }

      a:hover {
        color: #9dbe80;
      }
    }
  }
}
