body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#root {
  width: 100vw;
  height: 100vh;
  background-color: aqua;
}

header {
  height: 20vh;
  background-color: rgb(84, 18, 18);
  h1 {
    margin: 0;
  }
}

aside {
  position: absolute;
  top: 0;
  right: 0;
  background-color: aquamarine;
}

main {
  height: 80vh;
}

#modal {
  position: absolute;
  top: 0;
  width: 100vw;
  height: 100vw;
  background-color: aqua;
}
