.projects {
  margin: 20px 20px 50px 20px;

  .project-header {
    display: flex;

    justify-content: flex-start;
    align-items: center;
    font-size: 1em;
  }
}

.sort {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 25px;
  margin: 0 0 10px 0;
  background-color: var(--gray);
  border-radius: 4px;

  & > div {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #sort-checked {
    width: 100px;
  }

  #sort-title {
    width: 50%;
    justify-content: flex-start;
    margin-left: 0;
  }

  #sort-date {
    width: 120px;
  }

  #sort-priority {
    width: 100px;

    justify-self: end;
  }

  #delete-button-project {
    all: unset;
    width: 30px;
    padding: 2px 5px;
    margin-right: 35px;
  }

  .up,
  .down {
    all: unset;
    width: 12px;
    margin: 1px;
    height: 20px;
  }

  #delete-button-project,
  .up,
  .down {
    text-align: center;
    border: 1px solid var(--text);
    border-radius: 3px;
    cursor: pointer;
    border: 1px solid var(--menu);
    background-color: var(--background);
    outline: none;
    transition: all 50ms ease-in-out;

    &:hover {
      outline: 2px solid var(--menu);
    }

    &:active {
      outline: 2px solid var(--menu);
      background-color: var(--menu);
      color: var(--background);
    }
  }
}

#add-button-project {
  margin-top: 30px;
  height: 30px;
  width: 150px;
  border-radius: 10px;
  border: 1px solid var(--text);
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  background-color: var(--menu);
  display: flex;
  font-style: italic;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  transition: all 100ms;

  &:hover {
    color: var(--background);
  }

  &:active {
    transform: translateY(3px);
  }
}
